* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--themeColor);
  font-family: "IRANYekanWebRegular";
}
a {
  text-decoration: none;
  color: var(--themeColor);
}
a:hover {
  color: var(--hoverColor);
}
@font-face {
  font-family: "IRANYekanWebRegular";
  src: url("./Font/IRANYekanWebRegular.ttf");
}
@font-face {
  font-family: "IRANYekanWebLight";
  src: url("./Font/IRANYekanWebLight.ttf");
}
:root {
  --themeColor: #f05946;
  /* --hoverColor: #5225ae; */
  --hoverColor: #f05946;
}
form {
  width: 600px;
  height: 470px;
  border-radius: 25px;
  background-color: lightblue;
  display: flex;
}
.leftDiv {
  width: 50%;
  height: 100%;
  background-color: #fce7e4;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.rightDiv {
  width: 50%;
  height: 100%;
  background-color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputDiv {
  display: flex;
  align-items: start;
  justify-content: right;
  flex-direction: column;
}
.inputDiv input {
  border: none;
  border-radius: 3px;
  width: 230px;
  /* height: 28px; */
  height: 33px;
  background-color: #fce7e4;
  padding: 5px 15px;
  margin-top: 20px;
  border-radius: 5px;
}
::placeholder {
  font-size: 12px;
  color: #f05946;
}
.inputDiv input:focus {
  outline: 1px solid #f7a89e;
}
h1 {
  margin-bottom: 10px;
}
span {
  color: #f05946;
}
label {
  margin-top: 10px;
  font-size: 12px;
  padding-bottom: 5px;
}
.nextBtn {
  width: 230px;
  padding: 7px 40px;
  background-color: #f05946;
  color: white;
  border: none;
  border-radius: 5px;
  /* margin-top: 20px; */
  font-family: "IRANYekanWebRegular";
}
.leftDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftDiv img {
  width: 250px;
  height: 250px;
}
.radioDivs {
  width: 230px;
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 15px;
}
.radioDiv label {
  color: #f05946;
}
.confirmationErrorP,
.GcodeP {
  font-size: 10px;
  padding-top: 5px;
  color: red;
}
button:hover {
  background-color: var(--hoverColor);
}
a:hover {
  color: var(--hoverColor);
}
input::placeholder {
  font-family: "IRANYekanWebRegular";
}
/* Responsive */
@media screen and (max-width: 567px) {
  form {
    width: 300px;
    height: 470px;
    display: flex;
    flex-direction: column;
  }
  .rightDiv {
    width: 300px;
    height: 470px;
    border-radius: 25px;
  }
  .leftDiv {
    display: none;
  }
}
