/* ? font space */
@font-face {
    font-family: iran-yekan;
    src: url(../../resource/Fonts/iranyekanwebmediumfanum.ttf);
}

@font-face {
    font-family: B-nazanin;
    src: url(../../resource/Fonts/B_NAZANIN/B-NAZANIN.TTF);
}

/* ! general codes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: iran-yekan;
    direction: rtl;
    font-size: 20px;
}

:root {
    --themeColorCoral: #ff725e;
    --themeColorYellow: #f8c35c;
    --themeColorBlack: #000;
    --hoverColor: #fa4c35;
    --themeColorWhite: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 8px;
}

body {
    padding: 20px;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    border: solid 8px var(--themeColorYellow);
}