/* ? font space */
@font-face {
    font-family: B-kamran;
    src: url(../../resource/Fonts/B-Kamran/B\ Kamran\ Bold_0.ttf);
}

@font-face {
    font-family: B-nazanin;
    src: url(../../resource/Fonts/B_NAZANIN/B-NAZANIN.TTF);
}

/* ! general codes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: B-kamran;
    direction: rtl;
    font-size: 30px;
}

:root {
    --themeColorPurple: #ff725e;
    --themeColorYellow: #f8c35c;
    --themeColorBlack: #000;
    --hoverColor: #0026ff;
    --themeColorWhite: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 8px;
}

html {
    scroll-behavior: smooth;
}