:root {
    --themeColorPurple: #3e5afa;
    --themeColorCoral: #ff725e;
    --themeColorYellow: #f8c35c;
    --themeColorBlack: #000;
    --hoverColor: #fa4c35;
    --themeColorWhite: #fff;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    padding: 40px;
    border: solid 8px var(--themeColorYellow);
}

body {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
}

main {
    height: 100%;
    width: 100%;
    margin-top: 150px;
}

section {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    display: flex;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 40px;
    position: relative;
    transition: all 0.45s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
}

.card img {
    width: 400px;
    position: absolute;
    top: -130px;
    left: 0px;
    height: 400px;
    object-fit: contain;
    object-position: center;
}

.card .textArea {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--themeColorPurple);
}

.card .textArea p {
    font-size: 20px;
}

.card:hover {
    scale: 1.1;
}

.downsideMobile {
    display: none;
}

.mobile {
    display: none;
}

@media(max-width:320px) {
    .container {
        padding: 0;
    }

    .mobile {
        display: block;
        background-color: lightblue;
    }

    .downsideMobile {
        display: flex;
    }

    section {
        flex-direction: column;
        gap: 60px;
    }

    .card {
        width: 250px;
        height: 250px;
    }

    .card img {
        top: -50px;
        left: 20px;
        width: 80%;
        height: 100%;
    }

    .downSide {
        width: 100%;
        height: 100%;
        flex-direction: column;
        position: relative;
        padding: 10px;
        padding: 25px;
    }

    .downSide img {
        width: 100%;
        height: 50%;
    }

    .downSide .Header-text {
        width: 100%;
        height: 50%;
        padding: 0;
    }

    .Header-text h2 {
        font-size: 15px;
    }

    .Header-text p {
        font-size: 13px;
    }

    .Header-text button {
        font-size: 12px;
    }
}