@media screen and (min-width: 360px) {
    h1 {
        font-size: 20px;
        text-align: center;
        margin: 10px auto;
    }

    main {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        height: 100vh;
        padding: 20px;
    }

    .exit {
        background-color: rgb(255, 32, 32);
        color: white;
        padding: 20px 40px;
        border: none;
        border-radius: 100px;
        position: relative;
        bottom: 10px;
        right: 10px;
    }

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 30px;
        padding: 30px 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
        border-radius: 10px;
        background-color: rgba(185, 185, 185, 0.479);
        height: 50%;
    }

    .passwordChange {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .passwordInput {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        gap: 10px;
    }

    .passwordInput input {
        padding: 10px 20px;
        border: solid gray 0.5px;
        border-radius: 30px;
        direction: ltr;
    }

    form button {
        background-color: var(--themeColorCoral);
        color: white;
        border: none;
        max-width: 150px;
        height: 50px;
        padding: 10px 30px;
        border-radius: 20px;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .passwordChange {
        flex-direction: row;
    }

    .passwordInput {
        font-size: 16px;
    }

    form button {
        font-size: 17px;
    }

    .passwordInput input {
        padding: 15px;
    }

    .passwordInput {
        width: 50%;
    }
}

@media screen and (min-width:1600px) {
    .passwordInput {
        font-size: 18px;
    }

    form button {
        font-size: 17px;
    }

    label {
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    label input {
        width: 20px;
        height: 20px;
    }
}