@media screen and (min-width:360px) {
    header {
        width: 100%;
        height: auto;
        padding: 10px 30px;
        transition: all 0.5s;
    }

    .pc {
        display: none;
    }

    .HeaderDropDown {
        display: none;
    }

    .mobileHeader {
        border-bottom: 0.5px solid;
    }

    .HeaderDropDown {
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    .mobileHeader {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }

    .mobileHeader .name {
        font-size: 13px;
        color: var(--themeColorCoral);
        ;
    }


    .hamburgerMenu img {
        width: 30px;
        filter: invert();
        cursor: pointer;
    }

    .Header-text button:hover {
        background-color: var(--hoverColor);
        cursor: pointer;
    }


    .downSide {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .downsideMobile img {
        width: 100%;
        height: 50%;
    }

    .downsideMobile .Header-text {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 20px;
    }

    .downSide h2 {
        color: var(--themeColorCoral);
        font-size: 20px;
    }

    .downSide p {
        font-size: 14px;
        text-align: justify;
    }

    .downSide button {
        padding: 10px 20px;
        border: none;
        font-size: 15px;
        background-color: var(--themeColorCoral);
        color: var(--themeColorWhite);
    }

    /* drop down */
    .HeaderDropDown {
        width: 400px;
        height: 110%;
        background-color: var(--themeColorWhite);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
        display: none;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding: 30px 0px;
        opacity: 0;
        transform: translateX(+100%);
        transform-origin: top left;
        transition: all 0.5s;
        position: absolute;
        z-index: 100;
        inset: 0;
    }

    .HeaderDropDown img {
        width: 30px;
    }

    .upperDown {
        width: 90%;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.5px solid;
    }

    .upperDown p {
        font-size: 15px;
    }

    .downHead {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        transition: all 0.25s;
        padding: 10px;
    }

    .downHead li:hover {
        list-style: disc;
    }

    .downHead hr {
        width: 100%;
        margin: 10px;
    }

    .downHead li {
        width: 100%;
        height: 40px;
        background-color: var(--themeColorWhite);
        display: flex;
        align-items: end;
        padding: 10px;
        margin: 5px 0px;
        justify-content: start;
        gap: 10px;
    }

    .downHead ul {
        width: 100%;
    }

    .downHead li img {
        width: 20px;
    }

    .downHead a {
        color: black;
    }

    .downHead li p {
        font-size: 14px;
    }

    .downHead li:hover {
        background-color: lightgray;
    }

    header {
        padding: 10px;
    }
}

@media screen and (min-width:768px) {
    .mobileHeader .name {
        font-size: 17px;
    }

    .Header-text h2 {
        font-size: 24px;
    }

    .Header-text p {
        font-size: 17px;
    }


}

@media screen and (min-width:1024px) {
    .mobile {
        display: none;
    }

    .pc {
        display: flex;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .account {
        cursor: pointer;
    }

    .upperSide {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .upperSide nav li p {
        font-size: 15px;
    }

    nav {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    nav ul {
        display: flex;
    }



    nav a {
        padding: 10px;
        font-size: 18px;
        color: var(--themeColorBlack);
        border-radius: 100px;
        transition: all 0.25s;
    }

    nav a:hover {
        background-color: rgba(204, 204, 204, 0.212);
    }

    .account {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80px;
        height: 80px;
    }

    .account p {
        font-size: 15px;
        color: black;
    }

    .account img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        object-position: center;
    }

    .participate {
        background-color: var(--themeColorCoral);
        color: var(--themeColorWhite);
        border-radius: 0;
    }

    .participate:hover {
        background-color: var(--hoverColor);
    }

    .downSide img {
        width: 100%;
        height: 100%;
    }

    .downSide .Header-text {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .Header-text button {
        border-radius: 0;
        font-size: 18px;
    }
}

@media screen and (min-width: 1280px) {
    .downSide {
        flex-direction: row;
    }

    .downSide img {
        width: 50%;
    }

    .downSide .Header-text {
        width: 50%;
    }
}

@media screen and (min-width: 1600px) {
    .upperSide a {
        font-size: 20px;
    }

    nav ul {
        gap: 10px;
    }

    .Header-text p {
        font-size: 20px;
    }

    .Header-text h2 {
        font-size: 25px;
    }

    .Header-text button {
        font-size: 20px;
    }

    .account p {
        font-size: 15px;
    }

    .upperSide a li p {
        font-size: 18px;
    }

}