body {
    background-color: #f5f7fa;
    color: #202124;
    font-family: Arial, sans-serif;
}

.header,
.footer {
    background-color: var(--themeColorCoral);
    color: white;
    padding: 10px 20px;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 20px;
    height: 80vh;
}

.questionSide h2 {
    font-size: 20px;
}

.answerSide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

form {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}


.errorMessage {
    color: #d93025;
}

/* Container for the progress bar */
.progress-container {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 25px;
    padding: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    height: 30px;
}

/* Progress bar itself */
.progress-bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    border-radius: 25px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    transition: width 0.4s ease-in-out;
}

/* Progress value text */
#progressValue {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #333;
    font-weight: bold;
}

#progressValue p {
    margin: 0 5px;
}


.buttonRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonRow button {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--themeColorCoral);
    cursor: pointer;
    font-size: 15px;
    color: white;
}

.question {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    position: relative;
}

.question input[type="radio"] {
    display: none;
}

.question label {
    display: flex;
    cursor: pointer;
    position: relative;
}

.questionSide p {
    font-size: 20px;
    padding: 10px;
}

.questionSide {
    margin: 10px 0px;
}

.buttonRow {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#next-button {
    width: 200px;
    align-self: center;
    padding: 10px 20px;
    border: none;
    color: white;
    background: var(--themeColorCoral);
    border-radius: 10px;
    font-size: 20px;
    margin: 10px 0px;
}

#before-button {
    width: 200px;
    align-self: center;
    padding: 10px 20px;
    border: solid 1px var(--themeColorCoral);
    color: var(--themeColorCoral);
    background: white;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px 0px;
}