body {
    background-color: #f0f8ff;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: 20px;
}

.card h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--themeColorCoral);
}

.card p {
    font-size: 1.2em;
    margin-bottom: 30px;
    line-height: 1.6;
}

.button {
    background-color: var(--themeColorCoral);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--themeColorCoral);
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .card h1 {
        font-size: 1.5em;
    }

    .card p {
        font-size: 1em;
    }

    .button {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}